.container {
  padding: 30px;
  width: 100%;
  height: 90px;
}
.delivery {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 30px;
  text-decoration: none;
  margin-left: 5px;
}
.dining-out {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 30px;
  text-decoration: none;
  margin-left: 5px;
}
.night-life {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 30px;
  text-decoration: none;
  margin-left: 5px;
}
.nutrition {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 30px;
  text-decoration: none;
  margin-left: 5px;
}
